<form class="form-horizontal" name="Userform" method="post" action="/form">
    <fieldset>
        <legend>Form</legend>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id="inputName" name="username" placeholder="Please Enter Your Name..." data-cip-id="inputName" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-lg-2 control-label">Address</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id="address" name="address" placeholder="Please Enter Your Address..." data-cip-id="inputAddress">
                <br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-3">
                <button type="submit" class="btn btn-primary"  >Submit</button>
            </div>
        </div>
    </fieldset>
</form>